#left {
    min-height: 100vh;
}

#right {
    height: 100vh;
    overflow: scroll;
}

.vertical-indent {
    line-height: 1.3;
}

.bolder {
    font-weight: bold;
    font-size: 18px;
}

#avatar {
    padding: 50px;
    vertical-align: middle;
    width: 100%;
}

.print-only {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@media print, (max-width: 992px) {
    #right {
        height: 100%;
        overflow: visible;
    }

    #left {
        min-height: 400px;
        padding: 50px;
    }

    #avatar {
        padding: 50px;
        vertical-align: middle;
        width: 500px;

    }

    .print-only {
        display: block;
    }
}
