#left {
    min-height: 100vh;
}

#right {
    height: 100vh;
    overflow: scroll;
}

.vertical-indent {
    line-height: 1.3;
}

.bolder {
    font-weight: bold;
    font-size: 18px;
}

#avatar {
    padding: 50px;
    vertical-align: middle;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@media print {
    #right {
        height: 100%;
        overflow: visible;
    }
}
