.sidebar {
  min-height: 100vh;
  height: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
}

.avatar {
  padding: 50px;
  vertical-align: middle;
  width: 100%;
}

.no-text-decoration {
  text-decoration: none !important;
  color: var(--bs-body-color) !important;
}

.icon {
  margin: 5px;
}

.vertical-indent {
  line-height: 1.3;
}

@media print, (max-width: 992px) {
  .sidebar {
    min-height: 400px;
    padding: 50px;
  }

  .avatar {
    padding: 50px;
    vertical-align: middle;
    max-width: 500px;
  }
}
