.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #073642;
    color: #93a1a1;
    text-align: center;
    padding: 10px;
}

.footer a {
    color: #2aa198;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    color: #b58900;
}
